.header_unit {
	text-decoration: none;
	color: black;
	background-color: gainsboro;
}

a {
	color: inherit;
}

.header_link {
	text-align: center;
	text-decoration: inherit;
	color: inherit;
	background-color: inherit;
}

#current_page {
	color: white;
	background-color: dimgrey;
}
